<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="CineFlix Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINEFLIX</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/elegant-icons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Scroll suave -->
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body>
    <!-- Page Preloader -->
    <div id="preloder"><div class="loader"></div></div>

    <!-- Header Begin -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo/LOGO.png" alt="CineFlix Logo"></a>
                        <div class="header__nav__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Inicio</a></li>
                                <li><a href="#estrenos">Estrenos</a></li>
                                <li><a href="#cartelera">Cartelera</a></li>
                                <li><a href="#proximamente">Próximamente</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="img/hero/2.png"></div>
            <div class="hero__item set-bg" data-setbg="img/hero/3.png"></div>
            <div class="hero__item set-bg" data-setbg="img/hero/4.png"></div>
            <div class="hero__item set-bg" data-setbg="img/hero/5.png"></div>
        </div>
    </section>
    <br><br><br>
    <!-- Hero End -->

    <!-- Estrenos Begin -->
    <section id="estrenos" class="team spad set-bg" data-setbg="img/team-bg.jpg">
        <h2 class="portfolio-title">ESTRENOS</h2>
        <div class="container">
            <div class="row portfolio__gallery">
                <div class="col-lg-4 col-md-6 col-sm-6 mix" th:each="pelicula : ${peliculasEstreno}">
                    <div class="portfolio__item">
                        <div class="portfolio__item__video set-bg" th:attr="data-setbg=${pelicula.imagenUrl}">
                            <a th:href="@{'/pelicula/' + ${pelicula.idPelicula}}" class="d-block w-100 h-100"></a>
                            <span class="new">NEW</span>
                        </div>
                        <div class="portfolio__item__text text-center">
                            <h4>
                                <a th:href="@{'/pelicula/' + ${pelicula.idPelicula}}" th:text="${pelicula.titulo}"></a>
                            </h4>
                            <ul>
                                <li th:text="'Duración: ' + ${pelicula.duracionMin} + ' min'">Duración</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Estrenos End -->

    <!-- Cartelera Begin -->
    <section id="cartelera" class="portfolio nuevo">
        <h2 class="portfolio-title">CARTELERA</h2>
        <div class="row portfolio__gallery">
            <div class="col-lg-4 col-md-6 col-sm-6 mix" th:each="pelicula : ${peliculasOtras}">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" th:attr="data-setbg=${pelicula.imagenUrl}">
                        <a th:href="@{'/pelicula/' + ${pelicula.idPelicula}}" class="d-block w-100 h-100"></a>
                    </div>
                    <div class="portfolio__item__text text-center">
                        <a th:href="@{'/pelicula/' + ${pelicula.idPelicula}}" th:text="${pelicula.titulo}"></a>
                        <ul>
                            <li th:text="'Duración: ' + ${pelicula.duracionMin} + ' min'">Duración</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cartelera End -->

    <!-- Próximamente Begin -->
    <section id="proximamente" class="preventa-wrapper">
        <div class="preventa-section">
            <h2 class="preventa-title">Próximamente</h2>
            <div class="pelicula-slider">
                <div class="pelicula-card" th:each="pelicula : ${peliculasProximas}">
                    <div class="pelicula-img set-bg" th:attr="data-setbg=${pelicula.imagenUrl}">
                        <a th:href="@{'/pelicula/' + ${pelicula.idPelicula}}" class="d-block w-100 h-100"></a>
                    </div>
                    <div class="pelicula-info text-center">
                        <h4 th:text="${pelicula.titulo}">Título</h4>
                        <ul>
                            <li th:text="'Duración: ' + ${pelicula.duracionMin} + ' min'">Duración</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Próximamente End -->

    <!-- JS Plugins -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#preloder').fadeOut(300);
            $('.set-bg').each(function () {
                const bg = $(this).attr('data-setbg');
                $(this).css('background-image', 'url(' + bg + ')');
            });
        });
    </script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Footer Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6"></div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>&copy; <script>document.write(new Date().getFullYear());</script> CineFlix. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>
</html>
